				<div class="violet-about">
                    <h4 class="v-section-tit">About LiuRongxing</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/greenavatar.jpg" alt="LiuRongxing" width="146px" height="100px" id="J_myFace_img" /><span>GreenAvatar</span></p>
                        <p>从CG后期到干<strong>运维</strong>，开始学习<em>Perl</em>。</p>
                        <p>从小热爱计算机，平平淡淡。</p>
                        <p>大学热爱视频设计，后来被后期强烈的强奸了，从此走上运维不归路，敬请看Perl的魅力。</p>
                    </article>
                    <p class="v-more-right">
                        <a href="/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->